
*.csv
*.md
*.png
*.npz
*.jpg
*.yml
*.jpeg
*.hdf5
dog-project-master/CODEOWNERS
*/requirements/*
dog-project-master/haarcascades/*
*.pkl
*.txt
*.com
ud120-projects-master/practice_projects/naive_bayes_tutorial/smsspamcollection/SMSSpamCollection
